body {
    background: linear-gradient(180deg, #751515 0%, #e90c0cbb 90%);
    background-attachment: fixed;
}

.banner{
    width: auto;
    height: 20vh;
    border:solid 1vh;
    border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
}

.pokedex{
    height: 74vh; 
    border:solid 1vh;
    border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
}

.cardUp{
    height: 36vh;
}

.cardDown{
    height: 36vh;
}

.card {
    display: block;
    padding: 1%;
    border:solid 7px;
    background: linear-gradient(180deg, #3806ec 0%, #7869d1bb 90%);
    background-attachment: fixed;
    border-color:#302e2e #726969 #726969 #000000; 
}

/* .table { 
    border:solid 11px;
    border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
} */


.ghostTable{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    max-width: 100%;
    min-width: 100%;
    max-height: 460px;
    min-height: 460px;
    border:solid 10px;
    border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
    z-index:1;
}

@media screen and  (max-width: 650px){
    /* .ghostcard {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 440px;
        min-height: 440px;
        width: 50%;
        border:solid 7px;
         background-color: rgb(9, 67, 80); 
        background-color: rgb(60, 144, 163);
        background-attachment: fixed;
        border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
    } */
    .ghostcardMobile{
        display: none;
        margin-left: auto;
        margin-right: auto;
        height: 520px;
        width: 100%;
        border:solid 7px; 
        background-color: rgb(60, 144, 163);
        background-attachment: fixed;
        border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
    }
    .web{
        display: none;
    }
}



@media screen and  (min-width: 1000px){
    /* .ghostcard {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 440px;
        min-height: 440px;
        width: 50%;
        border:solid 7px;
         background-color: rgb(9, 67, 80); 
        background-color: rgb(60, 144, 163);
        background-attachment: fixed;
        border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
    } */
    .ghostcard{

        margin-left: auto;
        margin-right: auto;
        max-height: 440px;
        min-height: 440px;
        width: 50%;
        border:solid 7px; 
        background-color: rgb(60, 144, 163);
        background-attachment: fixed;
        border-color:#B22222 #FEB9B9 #FEB9B9 #B22222; 
    }

    .mobile{
        display: none;
    }
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10%;
}


h1{
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    color: #cab70efd;
    font-size: 2.2em;
}

h2{
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: #bebeb2fd;
}

p{
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    color: #cab70efd;
}
